@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 14px;
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #2563eb;
  border-radius: 10px;
  border: 3px solid #000;
}

.card:hover .img {
  background: #0f172a;
  opacity: 0.35;
}

.card:hover .alert {
  display: flex;
}

.card:hover .footer, .card:hover .links {
  transform: translateY(0%);
}